.nav-link-active::after {
    @apply bg-lighter;
}

.nav-link {
    @apply text-special;
    box-sizing: border-box;
    display: inline-flex;
    height: 100%;
    padding: 0 20px;
    position: relative;
}

.nav-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
}

.nav-link:hover::after {
    @apply bg-lighter;
}