@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";

@font-face {
  font-family: "Krona One";
  src: url('fonts/Krona_One/KronaOne-Regular.ttf');
}

@font-face {
  font-family: "Karla";
  src: url('fonts/Karla/static/Karla-Regular.ttf');
}
@font-face {
  font-family: "Rounded Elegance";
  src: url('fonts/Rounded\ Elegance.ttf');
}
@font-face {
  font-family: "Mick Kaster";
  src: url('fonts/mick-caster/Mick\ Caster.ttf');
}
@font-face {
  font-family: "Josefin Sans";
  src: url('fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}
@font-face {
  font-family: "Inter";
  src: url('fonts/Inter/static/Inter-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.font-krona {
  font-family: 'Krona One';
}

.font-karla {
  font-family: 'Karla';
}
.font-mick {
  font-family: 'Mick Kaster';
}
.font-josefin {
  font-family: 'Josefin Sans';
}
.font-inter {
  font-family: 'Inter';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-default{
  @apply px-7;
  @apply py-1
}

.div-full-height{
  height: auto;
}

.div-screen-height{
  height: calc(100vh - 53px) !important;
}

.shadow{
  box-shadow: 0px -10px 50px #00000077;
}

.shadow-sm{
  box-shadow: 0px 0px 8px #0007;
}


a.active{
  @apply: text-black;
}