@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-default{
  @apply px-7;
  @apply py-1
}

.div-screen-height{
  height: calc(100vh - 53px) !important;
}
